input {
  height: 30px;
  width: 358px;
  padding: 6px 9px;
  margin: 34px 0px 8px;
  color: rgb(195, 225, 240);
  background-color: rgb(40, 50, 80);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  z-index: 900;
}

input:focus {
  outline: 1px solid rgb(195, 225, 240);
}

input:-webkit-autofill {
  background-color: rgb(130, 200, 255);
  -webkit-text-fill-color: black;
}

h4 {
  position: relative;
  top: -42px;
  left: 10px;
  height: 0px;
  width: fit-content;
  margin: 0px 0px;
  font-size: 16px;
  font-weight: 700;
  transition: 200ms ease;
  z-index: 800;
}

input:-webkit-autofill + h4,
input:active + h4,
input:focus + h4,
input:not(:placeholder-shown) + h4 {
  transform: translate(+0px, -44px);
}

p {
  position: relative;
  height: 1px;
  width: fit-content;
  top: +19px;
  left: 10px;
  margin: 2px 0px;
  color: red;
  font-size: 12px;
  font-weight: 700;
  z-index: 100;
}

button {
  position: relative;
  display: block;
  height: 36px;
  width: 90px;
  margin: auto;
  margin-top: 6px;
  font-size: 24px;
  color: rgb(20, 40, 60);
  background-color: rgb(195, 225, 240);
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}

button:active {
  cursor: grab;
}