body {
  background-image: linear-gradient(to right, rgb(20, 40, 60), rgb(80, 120, 160) 70%, rgb(30, 40, 50))
}

.form-container {
  position: relative;
  margin: auto;
  padding: 10px;
  width: 400px;
  height: 500px;
  top: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: rgb(194, 228, 238);
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 2px 5px 10px black;
  background-image: linear-gradient(to right, rgb(35, 60, 100), rgb(76, 125, 171))
}

.title-container {
  height: 60px;
  width: 100%;
}

.form-title {
  position: relative;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.form-component {
  position: relative;
  margin: 10px 0px;
  height: 400px;
  width: 100%;
}

.form-component h4 {
  position: relative;
  top: 0px;
  left: 10px;
  height: 16px;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
}

.form-component p {
  position: relative;
  height: 12px;
  left: 10px;
  margin: 0px;
  color: red;
  font-size: 12px;
}

.form-component input {
  height: 30px;
  width: 364px;
  padding: 6px;
  margin: 6px 0px 10px;
  color: rgb(194, 228, 238);
  background-color: rgb(41, 58, 81);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
}

input:-webkit-autofill {
  background-color: rgb(113, 189, 255);
  -webkit-text-fill-color: black;
}

.form-component button {
  position: relative;
  display: block;
  margin: auto;
  height: 36px;
  width: 90px;
  margin-top: 4px;
  font-size: 24px;
  color: rgb(20, 40, 60);
  background-color: rgb(175, 214, 237);
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}

.form-component button:active {
  cursor: grab;
}
